<?xml version="1.0" ?>
<launch>
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --pause /home/nico/2018-12-03/easy-2018-12-03-17-49-09.bag"/>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" value="$(find rovio)/cfg/rovio_vicon_noisy.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/vicon_cam0.yaml"/>
    <param name="imu_topic_name" value="/imu0"/>
    <param name="cam0_topic_name" value="/cam0/image_raw"/>
    <!--<remap from="/odometry" to="/lidar_stick/vrpn_client/estimated_odometry"/>-->
  </node>
</launch>
