<?xml version="1.0" ?>
<launch>
  <param name="use_sim_time" value="true" />

  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --pause /home/nico/datasets/eschlikon/eschlikon-lidar-aligned.bag"/>

  <node pkg="tf" type="static_transform_publisher" name="imucam" args="-0.043 -0.001 -0.108 -0.490 0.494 0.505 0.511 camera0 os1_lidar 10"/>

  <group ns="/jay">
    <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
      <param name="filter_config" value="$(find rovio)/cfg/rovio_filter_adis_p23022.info"/>
      <param name="camera0_config" value="$(find rovio)/cfg/rovio_equidist_cam0_p23022.yaml"/>
      <!--<param name="camera1_config" value="$(find rovio)/cfg/rovio_equidist_cam1_p23022.yaml"/>-->
      <param name="imu_topic_name" value="imu0"/>
      <param name="cam0_topic_name" value="cam0/image_raw"/>
      <!--<param name="cam1_topic_name" value="cam1/image_raw"/>-->
      <!--remap from="lidar_points" to="/jay/os1_points_filtered"/-->
    </node>
  </group>
  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find rovio)/rovio_eschlikon.rviz" />
</launch>
