<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_filter_adis_LidarAligned.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/rovio_equidist_cam0_p23022.yaml"/>
  <param name="rosbag_filename" value="/home/nico/datasets/eschlikon/pointclouds_2019-03-15-14-26-37.bag"/>
  <param name="imu_topic_name" value="/jay/imu0"/>
  <param name="cam0_topic_name" value="/jay/cam0/image_raw"/>
  <param name="lidar_topic_name" value="/jay/os1_points_imu"/>
  </node>
</launch>
