<?xml version="1.0" encoding="UTF-8"?> 
<launch> 
    <arg name="cam_fps" default="60"/>
    <arg name="setup_config" default="$(find rovio)/cfg/rovio.info"/>
    <arg name="camera_config" default="$(find rovio)/cfg/rs_color_D435_intel.yaml"/>
    <arg name="topic_cam0" default="/camera/color/image_mono"/>
    <arg name="topic_imu" default="/mavros/imu/data"/>


    <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera/color"/>  
    <include file="$(find mavros)/launch/px4.launch"/>
    <include file="$(find realsense2_camera)/launch/rs_camera_reduced.launch">
        <arg name="color_fps" value="$(arg cam_fps)"/>
    </include>
    <include file="$(find rovio)/launch/rovio_node.launch">    
        <arg name="filter_config" value="$(arg setup_config)"/>
        <arg name="camera0_config" value="$(arg camera_config)"/>
        <arg name="topic_cam0" value="$(arg topic_cam0)"/>
        <arg name="topic_imu" value="$(arg topic_imu)"/>
    </include>
</launch>