<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/rs_color_radtan_intel.yaml"/>
    <remap from="/cam0/image_raw" to="/camera/color/image_mono"/>
    <remap from="/imu0" to="/mavros/imu/data"/>
  </node>
</launch>
