<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
   
     <!-- Run Bagfile -->
     <node pkg="rosbag" type="play" name="player" output="screen"   
      args="--clock /home/andreas/Bagfiles/bag1.bag"/>

     <!-- Run rovio -->
     <node  name="rovio" pkg="rovio" type="test_rovio"     
     clear_params="true" output="screen"> 
     </node>
     
     <!--Run RVIZ-->
     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find    
     rovio)/launch/config.rviz" />
   
</launch>
