<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="test_rovio" name="rovio1" output="screen"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_acc_bias" output="screen" args="/rovio/output/acc_bias/x:y:z"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_gyr_bias" output="screen" args="/rovio/output/gyr_bias/x:y:z"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_ypr" output="screen" args="/rovio/output/ypr_odometry/x:y:z"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_vep" output="screen" args="/rovio/output/extrinsics/pose/position/x:y:z"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_vea" output="screen" args="/rovio/output/ypr_extrinsics/x:y:z"/>
  <node pkg="rqt_plot" type="rqt_plot" name="plot_ypr_sigma" output="screen" args="	/rovio/output/ypr_odometry/x:y:z
  																			 		/rovio/output/ypr_odometry_sigma/x:y:z"/>
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_pos" output="screen" args="/state_estimator/corrected_pose/pose/pose/position/x:y:z
                                                                             /icp_localizer/corrected_robot_pose/pose/pose/position/x:y:z"/-->
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_patt" output="screen" args="/state_estimator/corrected_pose/pose/pose/orientation/x:y:z
                                                                             /icp_localizer/corrected_robot_pose/pose/pose/orientation/x:y:z"/-->
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_att" output="screen" args="/state_estimator/corrected_pose/pose/pose/orientation/x:y:z
                                                                             /starleth/pose/transform/rotation/z
                                                                             /starleth/robot_state/pose/pose/pose/orientation/x:y:z"/-->
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_contact" output="screen" args="/state_estimator/robot_state/contacts[3]/state"/-->
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_vel" output="screen" args="/state_estimator/robot_state/twist/linear/x:y:z"/-->
</launch>
